body{

background-image: url("/css/mortalkombat.jpg");
background-repeat: no-repeat;
background-size:cover;
color:white;

}

.card{

    width:30%;
}

.info{
    margin-top: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
