body{

background-image: url("/css/mortalkombat.jpg");
background-repeat: no-repeat;
background-size: cover;
color:white;

}

.card{
background-color:red;
color: black;
width: 20%;
align-items: center;

}
.info{

    align-items: center;
    justify-content: center;
    text-align: center;
}